.content {
    background-color: gray;
    width: 28vw;
    padding: 10px;
    margin: auto 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* display: none; */
}

img {
    width: 15vw;
}

.namePokemon {
    margin: 6px 69px;
    padding: 10px;
}

.types {
    display: flex;
    justify-content: center;

}

.typePokemon {
    border: solid;
    margin-right: 15px;
    padding: 2px 14px;
    border-radius: 6px;
}

.stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barrinha {
    width: 19vw;
    border: solid;
    margin-left: 1rem;

}
