h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: 'pokemon-font-solid';
    text-shadow: 1px 1px rgb(0, 0, 0);
    color: rgb(241, 198, 3);
}

.title {
    border: solid;
    background-color: rgb(195, 64, 64);
}