@font-face{
  font-family: 'pokemon-font-hollow';
  src: url(./fonts/PokemonHollow.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: 'pokemon-font-solid';
  src: url(./fonts/PokemonSolid.ttf);
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: 'pokemon-font-hollow', sans-serif;
}