.content {
    display: flex;
    justify-content: space-evenly;
    border: solid;
    height: 88.6vh;
    background-image: url('https://st2.depositphotos.com/3213441/12022/v/450/depositphotos_120226584-stock-illustration-pokemon-go-pokeball-seamless-texture.jpg')
}

.card {
    background-color: rgb(230, 226, 226);
    width: 28vw;
    margin: auto 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 5px;
    border: solid;
    height: 73vh;
}

.title {
    font-family: 'pokemon-font-solid';
    color: yellow;
    text-shadow: 2px 1px red;
    margin-bottom: 10px;
    padding: 3.9px;

}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2px;
    margin-bottom: 9px;

}


.namePokemon {
    list-style: none;
    width: 100%;
    margin-bottom: 9px;
    padding: 1.5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.namePokemon:hover{
    background: rgb(116, 114, 114);
}

.namePokemon img {
    margin-left: 4px;
    margin-right: 4px;
    width: 20px;
}


.buttons {
    display: flex;
}

button {
    margin-left: 6px;
    background: none;
    border: solid 1px;
    border-radius: 6px;
    padding: 4px 14px;
    cursor: pointer;
    font-family: 'pokemon-font-hollow';
}